
<ul>
<% @bookings.each do |booking| %>
<li>Offer: <%= booking.offer.title%></li>
<li>Client: <%= booking.buyer.email%></li>
<li>From: <%= booking.begin_date%></li>
<li>To: <%= booking.end_date%></li>
<li>Status: <%= booking.status%></li>
<%= link_to "Show this booking", booking %>
<%= link_to "Delete",
    booking_path(booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

<%= link_to "Edit this booking", edit_booking_path(booking) %>
<br>
<br>

<% end %>
</ul>
