<li>Offer: <%= @booking.offer.title%></li>
<li>Client: <%= @booking.buyer.email%></li>
<li>From: <%= @booking.begin_date%></li>
<li>To: <%= @booking.end_date%></li>
<li>Status: <%= @booking.status%></li>
<br>
<p><input type="checkbox" id="vehicle1"> Check this booking as done</p>

<% if booking.buyer == current_user %>
<%= link_to "Delete",
    booking_path(@booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel your booking?"}
  %>
<br>
<%= link_to "Edit this booking", edit_booking_path(@booking) %>
<% end %>
<br>
<%= link_to "Return to all my bookings", bookings_path %>
<br>
<%= link_to "Return to the main offer", offer_path(@booking.offer) %>
