<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo-horiz.png", style: 'height:60px; width:120px' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form id="form_search" name="form_search" method="get" action="" class="form-inline col-lg-4">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control bg-white" placeholder="Search for..." type="text">
          <span class="input-group-btn">
            <button class="btn btn-default border" type="button">Search</button>
          </span>
        </div>
      </div>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link text-black" %>
          </li>
          <li class="nav-item">
            <%= link_to "Offers", "/offers", class: "nav-link text-black" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", "#", class: "nav-link text-black" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact Us", "#", class: "nav-link text-black" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/drisshadd", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Offers", "/myoffers", class: "dropdown-item" %>
              <%= link_to "My Bookings", "/mybookings", class: "dropdown-item" %>
              <%= link_to "My Profile", "/myprofile", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
