<%# <div class="banner  d-flex align-items-end p-5" style="background-image: url(https://images.unsplash.com/photo-1531181616225-f8e50c1ab53e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div>
        <h1 >Easy way to rent a car at a low price</h1>
        <p>Providing cheap car rental services and safe and comfortable facilities.</p>
        <a class="btn btn-light" href="/offers">Browse</a>
  </div>
</div> %>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height:70vh;">
    <a href="/offers"><img src="https://i.ibb.co/k1wN2Dp/vecteezy-flat-header-online-news-newsletter-and-information.jpg" class="d-block w-100" alt="..."></a>

      <div class="carousel-caption d-none d-md-block">


      </div>
    </div>
    <div class="carousel-item" style="height:70vh;">
      <a href="/offers"><img src="https://i.ibb.co/DCh6kM0/vecteezy-flat-header-online-news-newsletter-and-information-5546004.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item" style="height:70vh;">
      <a href="/offers"><img src="https://i.ibb.co/BKfFdTP/vecteezy-flat-header-online-news-newsletter-and-information-5545994.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<br>
<br>
<div class="container d-flex justify-content-around flex-wrap">
  <% @offers.each do |offer| %>
  <a href="<%= offer_path(offer)%>" class="text-decoration-none link-dark">
      <div class="card col-4 mt-3 rounded ">
        <%= cl_image_tag offer.photo.key, class:"card-img-top", style:" object-fit: cover; height: 16rem;", alt:"Card image cap"%>
        <div class="card-body">
          <div class="h-50 mb-1">
            <h3><%= offer.title.truncate(30)%></h3>
            <p><%= offer.description.truncate(100)%></p>
          </div>
          <div class="d-flex justify-content-between">

            <small class="card__tag"><%= offer.address%></small>
          </div>
          <div class="text-center">
          </div>
      </div>
      </a>
    </div>
  <% end %>
</div>
<br>
<br>
<hr>
<br>
<br>


<div id="carouselExampleIndicators" class="carousel slide  m-5 text-center" data-bs-ride="true">
  <h2>What our users think of us...</h2>
    <br>
  <div class="carousel-indicators text-center">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner p-4 text-center">
    <div class="carousel-item active">
     <div class="row d-flex justify-content-center">
      <img class=" shadow-1-strong mb-4 text-center"
        src="https://i1.sndcdn.com/artworks-000048037559-dv7nwb-t500x500.jpg" alt="avatar"
        style="border-radius: 50%;width: 150px ;" />
        </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
        <br>
        <h5 class="mb-3">Cheb Khaled <span class="badge bg-success">reader</span></h5>

          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            La gazette de Casablanca Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
            <i class="fas fa-quote-right pe-2"></i>
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
      <br>
      <br>
      <br>
    </div>
    <div class="carousel-item">
    <div class="row d-flex justify-content-center">
      <img class="rounded-circle shadow-1-strong mb-4"
       src="https://www.nasfame.com/wp-content/uploads/2019/11/choumicha-chafay.jpg" alt="avatar"
        style="width: 150px;" />
      <div class="row d-flex justify-content-center">
      </div>
        <div class="col-lg-8">
        <br>
         <h5 class="mb-3">Choumicha <span class="badge bg-success">reader</span></h5>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            La gazette de Casablanca Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
            <i class="fas fa-quote-right pe-2"></i>
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="far fa-star fa-sm"></i></li>
      </ul>
      <br>
      <br>
      <br>
    </div>
    <div class="carousel-item">
    <div class="row d-flex justify-content-center">
      <img class="rounded-circle shadow-1-strong mb-4"
        src="https://cdns-images.dzcdn.net/images/artist/7930976a2ae485b7f88983c00caa92d8/500x500.jpg" alt="avatar" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
      </div>
        <div class="col-lg-8">
        <br>
        <h5 class="mb-3">Cheb Bilal <span class="badge bg-danger">author</span></h5>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
          La gazette de Casablanca Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="far fa-star fa-sm"></i></li>
      </ul>
      <br>
      <br>
      <br>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<br>
