
<br>
<div class="cardshow">
  <img style="height:80vh"src="https://i.ibb.co/x3zw5yV/Capture-d-e-cran-2022-09-28-a-20-48-04.png" ;style="height:110vh;" ; alt="">
   <main class="card__content">
   <h3 class="mt-2">Edit the article</h3>
   <br>
      <%= simple_form_for(@offer) do |f| %>
          <div class="form-inputs">
            <%= f.input :title, input_html: { label: false, class: "bg-white" } %>
            <%= f.input :description, input_html: { placeholder:"Article", class: "bg-white " } %>
            <%= f.input :address,input_html: { placeholder:"City",class: "bg-white " } %>
            <%= f.input :photo, as: :file, input_html: { class: "bg-white " } %>
            <div class="text-center">
            <br>
              <%= f.submit "Edit article", class: "btn btn-success text-white text-align-center rounded" %>
            </div>
          </div>
        <% end %>




    </div>
   </main>
</div>
