
<div >
<a href="/offers"><img src="https://i.ibb.co/BKfFdTP/vecteezy-flat-header-online-news-newsletter-and-information-5545994.jpg" class="d-block w-100" alt="...">
</div>
<br>

<br>
<br>



<div class="container d-flex justify-content-around flex-wrap">
  <% @offers.each do |offer| %>
  <a href="<%= offer_path(offer)%>" class="text-decoration-none link-dark">
      <div class="card col-4 mt-3 rounded ">
        <%= cl_image_tag offer.photo.key, class:"card-img-top", style:" object-fit: cover; height: 16rem;", alt:"Card image cap"%>
        <div class="card-body">
          <div class="h-50 mb-1">
            <h3><%= offer.title.truncate(30)%></h3>
            <p><%= offer.description.truncate(100)%></p>
          </div>
          <div class="d-flex justify-content-between">
            <small class="card__tag"><%= offer.address%></small>

          </div>
          <div class="text-center">
          </div>
      </div>
      </a>
    </div>
  <% end %>
</div>

<br>
<div class="d-flex justify-content-center m-3">
  <a href="/offers/new"><button type="button" class="btn btn-success text-white">Create a new Article</button></a>
</div>
<br>
<br>
